<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <script></script>
  <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuli.js"></script>
  <link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body style="background-color: #f5e9e9;">
  <div id="roomSpace" >
    <p id="newRoomcreate">Bạn muốn tạo phòng mới?</p>
      <form method="get" action="/">
        <input type="text" id="createRoom">
        <button type="submit" id="btnCreateRoom" >Tạo phòng</button>
      </form>
    <h5>Room hiện có</h5>
    <div id="listRooms">
      <form action="/">
        <select name="rooms" id="selectRoom" size="5">
          <option value="room1">room1</option>
        </select>
        <button type="submit" id="btnchooseRoom">Chọn Room</button>
      </form>
    </div>
  </div>
  <div id="chatSpace">
    <p style="color: blue;">username: <span id="usernameChat">LONGXXX</span></p>
    <div class="col-md-6 m-auto" >
        <div style="height: 400px; background-color: #9ad2e7;">
          <h3 style="align-content: center;">Content Chat</h3>
          <div id="textChat" >long1: hello</div>
        </div>
        <input type="text" id="inputText">
        <button type="submit" id="sendText">Send</button>
    </div>
  </div>
</body>
</html>






