<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>
    <input type="text" id="txtRoom" />
    <input type="button" id="btnTaoRoom" value="Tạo room">
    <div id="left">
      <h3>ROOMS ĐANG CÓ</h3>
      <div id="dsRoom"></div>
    </div>
    <h4 id="roomHienTai">...</h4>
    <div id="right">

    </div>
    <input type="text" id="txtMessage" />
    <input type="button" id="btnChat" value="Chat" />
  </body>
</html>
