<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div style="background-color: lightskyblue;" class="card card-body">
        <h1 style="color: green;" class="text-center mb-3">
           Success
        </h1>
        <p style="color: blue;" class="lead mb-3">Welcome %></p>
        <p style="color: blue;" class="lead mb-3">Username: <%= user.username %></p>
      </div>
      <a href="/users/logout" style="size: 20px; color: red; border: 1px solid lightblue;">Log out</a>

    </div>
  </div>