<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700,800,400italic">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="stylesheets/style.css" id="theme-stylesheet">
    <!-- icon-->
    <link rel="icon" href="images/icon.png">
</head>
<body>
    <header class="header">
            <div role="navigation" class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header"><a href="/" class="navbar-brand scroll-to"><img src="images/logo.png" alt="logo" class="hidden-xs hidden-sm" style="height:60px;"><span class="sr-only">Go to homepage</span></a>
                  <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
                  </div>
                </div>
                <div id="navigation" class="collapse navbar-collapse navbar-right">
                  <ul class="nav navbar-nav">
                    <li><a href="/" class="scroll-to">Trang chủ</a></li>
                  </ul>
                  <a href="/signin" class="btn navbar-btn btn-ghost" style="margin-left: 20px">Đăng nhập</a>
                </div>
              </div>
            </div>
    </header>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <center><h1 style="margin-top: 50px"><span></span> Đăng ký</h1></center>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group row">
                    <label class="col-md-4">Tên đăng nhập</label>
                    <input type="text" class="form-control col-md-6" autocomplete="off" name="username" style="width: 300px">
                </div>
                <div class="form-group row">
                    <label class="col-md-4">Mật khẩu</label>
                    <input id = "pass" type="password" class="form-control col-md-6" autocomplete="off" name="password" style="width: 300px;">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-warning btn-lg col-sm-4" style="margin-left: 200px">Đăng ký</button>
                </div>
            </form>
            <hr>
            <a href="/signin" class="btn navbar-btn btn-ghost">Đăng nhập</a>
            <a href="/resetpassword" class="btn navbar-btn btn-ghost" style="margin-left: 20px">Quên mật khẩu</a>
            <a href="/" class="btn navbar-btn btn-ghost" style="margin-left: 20px">Quay về trang chủ</a>
        </div>
    </div>
        <!--footer-->
        <footer class="footer" style="margin-top: 110px">
          <div class="footer__copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p>&copy;2018 Phan Bảo Nguyên</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
</body>
</html>


