<html>
<head>
<title>basic socket</title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"> </script>
<script src="xuli.js"></script>
<style>
#do,#xanh, #vang{width: 200px; height: 70px;}
#do{background-color: red;}
#xanh{background-color: blue;}
#vang{background-color: yellow;}

</style>

</head>


<body>
    
hello world
<div id="do"></div>
<div id="xanh"></div>
<div id="vang"></div>

</body>
</html>