<html>
<head>
<title>basic socket</title>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"> </script>
<script>
    var socket = io("http://localhost:3008")
    socket.on('server-send-mau', function(data){
        $("body").attr("bgColor", data)
    })
    
    $(document).ready(function(){
        $("#do").click(function(){
            socket.emit("client-send-mau", "red")
        })
        $("#xanh").click(function(){
            socket.emit("client-send-mau", "blue")
        })
        $("#vang").click(function(){
            socket.emit("client-send-mau", "yellow")
        })
    })


</script>
<style>
#do,#xanh, #vang{width: 200px; height: 70px;}
#do{background-color: red;}
#xanh{background-color: blue;}
#vang{background-color: yellow;}

</style>

</head>


<body>
    
hello world
<div id="do"></div>
<div id="xanh"></div>
<div id="vang"></div>

</body>
</html>