<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <script></script>
  <link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body style="background-color: #f5e9e9;">
  <div class="row mt-5">
    <div class="col-md-6 m-auto" >
      <div style="background-color: #cbe9f1;" class="card card-body">
        <h1 style="color: green;" class="text-center mb-3">
           Đăng nhập thành công
        </h1>
        <p style="color: blue;" class="lead mb-3">Welcome %></p>
        <p class="lead mb-3">Username:</p>
        <p style="color: blue;" id="usernameChat"><%= user.username %></p>
        <p class="lead mt-4">
              <a href="/roomChat">Vào Page Chat</a><br>
             <a href="/users/logout">Đăng xuất</a><br>
             <a href="/users/changePassword">Đổi mật khẩu</a>
          </p>
      </div>      
    </div>
  </div>
</body>
</html>






