
<!-- home page -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <script></script>
  <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body style="background-color: #a6e9e3;">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
          <h5 style="color: green; "><% include ./messages %></h5>
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Tạo tài khoản hoặc đăng nhập</p>
        <a href="/users/register" style="background-color: #5bc0de; size: 16px;" class="btn btn-primary btn-block mb-2"
          >Đăng kí</a
        >
        <a href="/users/login" style="background-color: #5bc0de; size: 16px;" class="btn btn-secondary btn-block">Đăng nhập</a>
      </div>
    </div>
  </div>
</body>
</html>










      