<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div style="background-color: #cbe9f1;" class="card card-body">
      <h1 style="color: green;" class="text-center mb-3">
         Success
      </h1>
      <p style="color: blue;" class="lead mb-3">Welcome %></p>
      <p style="color: blue;" class="lead mb-3">Username: <%= user.username %></p>
    </div>
  </div>
  <div class="text-center">
    <div style="background-color: #cbe9f1;" class="card card-body">
      <a href="/users/logout" style="font-size: 14px;padding: 5px 10px; text-align: center; border: 1px solid rgb(20, 41, 48) ">Đăng xuất</a>
      <a href="/users/changePassword">Đổi mật khẩu</a>
    </div>
  </div>
</div>


