<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Success
        </h1>
        <p class="lead mb-3">Welcome <%= user.username %></p>
        <a href="/users/logout" class="btn btn-default btn-sm">Log out</a>
      </div>
    </div>
  </div>